
# dependencies
node_modules/
.pnp/
.pnp.js

# production
dist/
build/
.next/
out/

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel/

# misc
*.tsbuildinfo
next-env.d.ts
